.Glyph--root {
  width: 500px;
}

.upm {
  fill: rgba(0, 0, 0, 0.02);
  stroke-width: 3;
  stroke: rgba(0, 0, 0, 0.2);
}

.xheight,
.descender,
.capheight,
.ascender {
  stroke: rgba(0, 167, 244, .4);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.baseline {
  stroke: rgba(0, 0, 0, .7);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.right,
.left {
  stroke: rgba(200, 200, 200, .7);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.Glyph--svg {
  width: 100%;
  height: auto;
}
