.Glyph--root {
  width: 500px;
}

.baseline {
  stroke: red;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.right,
.left {
  stroke: gray;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.Glyph--svg {
  width: 100%;
  height: auto;
}
